.mainmanu {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 255, 0.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

ul a {
  margin-left: 24px;
}

li a {
  text-decoration: none;
  color: #000;
  height: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

li {
  float: left;
}

.leftmanu {
  display: flex;
}

.rightmenu {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-right: 124px;
}

.rightmenu a {
  text-decoration: none;
}

.started {
  color: white;
  font-weight: 800;
  font-size: 18px;
  background: #ff707a;
  border: solid 2px #ff707a;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.login {
  padding-right: 24px;
  color: black;
}

.texts {
  margin-left: 300px;
  margin-top: 136px;
  width: 766px;
  height: 144px;
}

.texts h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
}

.text-text {
  width: 500px;
  height: 44px;
  margin-left: 383px;
  margin-top: 30px;
}

.text-text h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 103%;
  text-align: center;
}

.ms {
  margin-top: 33px;
  margin-left: 592px;
}

.trynow {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  background-color: #ff707a;
  border: solid 4px #ff707a;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.nocredit p {
  margin-left: 602px;
  margin-top: 12px;
}

.poto img {
  margin-left: 12%;
  width: 64%;
}

.text1 {
  width: 923px;
  height: 65px;
  margin-left: 222px;
  margin-top: 169.66px;
}

.text1 h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 120%;
}

.text2 {
  width: 422px;
  height: 68px;
  margin-left: 402px;
  margin-top: 24px;
}

.text2 p {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 170.6%;
}

.al {
  margin-top: 48px;
  display: flex;
}

.sed {
  border-top: solid 2px #ff707a;
  margin-left: 171px;
  width: 170px;
  height: 120px;
}

.sed1 {
  width: 223px;
  height: 120px;
  margin-left: 32px;
  border-top: solid 2px #f5b118;
}

.sed2 {
  border-top: solid 2px #00aedc;
  border-radius: 5px;
  width: 320px;
  height: 120px;
  margin-left: 32px;
}
.startnow {
  margin-top: 56px;
  margin-left: 576px;
}
.startnow a {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  background-color: #ff707a;
  border: solid 4px #ff707a;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.text3 h1 {
  margin-top: 100px;
  margin-left: 311px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 120%;
}

.mar {
  display: flex;
}

.mar a {
  text-decoration: none;
  color: rgba(25, 14, 47, 0.8);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.a1 {
  margin-left: 166px;
}

.a2 {
  margin-left: 112px;
}

.a3 {
  margin-left: 112px;
}

.text4 {
  margin-left: 164px;
}

.text5 {
  margin-left: 110px;
}

.text6 {
  margin-left: 87px;
}

.image2 img {
  margin-left: 88px;
  margin-top: 116px;
  height: 302px;
  width: 462px;
}

.image3 img {
  margin-top: -236px;
  margin-left: 467px;
}
.text7 {
  height: 195px;
  width: 438px;
  margin-top: -23%;
  margin-left: 42%;
}
.text7 h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 120%;
}

.text8 p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 161.3%;
}

.text8 {
  margin-left: 800px;
  margin-top: 80px;
}

.join {
  text-decoration: underline;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ff707a;
}

.text9 {
  margin-left: 86px;
  margin-top: 199px;
}

.text9 p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #2f1e2d;
  line-height: 170.6%;
}

.text9 img {
  margin-top: -16%;
  margin-left: 33%;
}

.text10 h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 120%;
  text-align: center;
}

.text11 {
  justify-content: space-around;
  display: flex;
  margin-left: 48px;
}

.text11 p {
  font-family: Poppins;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.text12 {
  text-align: center;
}

.text12 h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  color: #190e2f;
}

.text12 h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  color: #190e2f;
}

.text12 p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #190e2f;
}

.text13 {
  margin-left: 44%;
}

.text13 a {
  margin-top: 34px;
  margin-left: 5%;
}

.text13 h3 {
  color: #ff707a;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
}

.text13 p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.text13 h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgba(25, 14, 47, 0.8);
}

.page-footer {
  position: absolute;
  margin-top: 80px;
  width: 1265px;
  height: 487px;
  left: 0;
  right: 0;
  background: #474f5a;
  display: flex;
}

.page-footer-nav-1 {
  padding-left: 50px;
  padding-top: 100px;
  width: 64px;
  height: 28.94px;
  left: 181px;
  top: 4951.87px;
  color: #dbe3e6;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50%;
  text-transform: capitalize;
}
.page-footer-nav-1 li {
  width: 150px;
  font-weight: 300;
  font-size: 10px;
  line-height: 30px;
  list-style: none;
}

.footer-nav {
  padding-left: 220px;
  padding-top: 100px;
  width: 64px;
  height: 28.94px;
  left: 181px;
  top: 4951.87px;
  color: #dbe3e6;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50%;
  text-transform: capitalize;
}

.footer-nav li {
  width: 150px;
  font-weight: 300;
  font-size: 10px;
  line-height: 30px;
  list-style: none;
}

.footer-nav-2 {
  padding-left: 200px;
  padding-top: 100px;
  width: 64px;
  height: 28.94px;
  left: 181px;
  top: 4951.87px;
  color: #dbe3e6;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50%;
  text-transform: capitalize;
}

.footer-nav-2 li {
  width: 150px;
  font-weight: 300;
  font-size: 10px;
  line-height: 30px;
  list-style: none;
}

.footer-nav-3 {
  padding-left: 200px;
  padding-top: 100px;
  width: 64px;
  height: 28.94px;
  left: 181px;
  top: 4951.87px;
  color: #dbe3e6;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50%;
  text-transform: capitalize;
}

/* about us */
.classs img {
  margin-left: 65%;
  margin-top: 147px;
  width: 486px;
  height: 342px;
}
.class1 {
  margin-left: 125px;
  margin-top: -19%;
}

.class1 h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: #190e2f;
}

.class1 a {
  text-decoration: none;
  color: #ff707a;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.class1 p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.class2 img {
  margin-top: 147px;
  height: 400px;
  width: 483px;
  margin-left: 129px;
}

.vento {
  margin-left: 800px;
  margin-top: -427px;
}

.vento h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: #190e2f;
}

.vento a {
  text-decoration: none;
  color: #ff707a;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.vento p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.nova a {
  text-decoration: none;
  color: #ff707a;
  padding: 10px;
  border-radius: 4px;
}

.nova a:hover {
  border: solid 1px #00aedc;
}
.vento2 img {
  margin-left: 800px;
  margin-bottom: -540px;
}
.vento3 {
  margin-left: 129px;
  margin-top: 210px;
}

.nova2 img {
  margin-top: 302px;
  width: 700px;
  height: 400px;
  margin-left: 124px;
}

.nova21 {
  margin-left: 55%;
  margin-top: -23%;
}

.nova21 a {
  text-decoration: none;
  color: #ff707a;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.vil {
  margin-left: 124px;
  margin-top: 8%;
}
.vil a {
  text-decoration: none;
  color: #ff707a;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.pesca img {
  margin-left: 55%;
  margin-bottom: -30%;
  height: 415px;
  width: 543px;
}
.am {
  margin-top: -22%;
  margin-left: 124px;
}
.assu img {
  margin-top: 10%;
  margin-left: 50%;
  width: 580px;
  height: 500px;
}

.am a {
  text-decoration: none;
  color: #ff707a;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.work {
  position: absolute;
  width: 1265px;
  height: 160px;
  background-color: #ff707a;
  margin-top: 90px;
  left: 0;
  right: 0;
}

.your {
  position: absolute;
  margin-top: 150px;
  margin-left: 71px;
  color: white;
}

.get a {
  font-size: 13px;
  position: absolute;
  text-decoration: none;
  background-color: white;
  width: 160px;
  height: 29px;
  padding-top: 15px;
  text-align: center;
  border-radius: 2px;
  margin-top: 150px;
  color: #ff707a;
  margin-left: 850px;
  text-align: 20px;
}

.page-footer-2 {
  position: absolute;
  margin-top: 250px;
  width: 1265px;
  height: 487px;
  left: 0;
  right: 0;
  background: #474f5a;
  display: flex;
}

/* news */
.cal {
  position: absolute;
  width: 1260px;
  height: 50px;
  background-color: #ffffff;
  left: 0;
  right: 0;
  margin-top: 42px;
}
.rom {
  width: 65px;
  height: 29px;
  color: #ff707a;
  font-weight: bold;
  margin-left: 60px;
}

.pictures {
  position: absolute;
  display: flex;
  margin-top: 150px;
  margin-left: 20px;
}

.pictures2 {
  position: absolute;
  display: flex;
  margin-top: 560px;
  margin-left: 20px;
}
.pic1 {
  width: 400px;
}

.pic2 {
  width: 400px;
}

.pic3 {
  width: 400px;
}

.jc {
  position: absolute;
  margin-top: 40px;
  font-size: 11px;
  font-weight: bold;
  padding-left: 30px;
  width: 160px;
}

.clas {
  position: absolute;
  width: 306px;
  height: 235px;
  left: 75px;
  top: 365px;
  background: #ffffff;
  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
}
.an {
  position: absolute;
  width: 306px;
  height: 235px;
  left: 475px;
  top: 365px;
  background: #ffffff;
  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
}

.dv {
  position: absolute;
  width: 306px;
  height: 235px;
  left: 875px;
  top: 365px;
  background: #ffffff;
  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
}

.ps {
  position: absolute;
  width: 306px;
  height: 235px;
  left: 75px;
  top: 776px;
  background: #ffffff;
  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
}
.mer {
  position: absolute;
  width: 306px;
  height: 235px;
  left: 475px;
  top: 775px;
  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
  background: #ffffff;
}
.mes {
  width: 306px;
  height: 235px;
  left: 875px;
  top: 775px;
  background: #ffffff;
  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
  position: absolute;
}

.alss {
  position: absolute;
  width: 81px;
  height: 18px;
  left: 30px;
  top: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #9b9ea3;
}
.gmer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: rgba(25, 14, 47, 0.8);
  position: absolute;
  width: 172px;
  height: 20px;
  left: 30px;
  top: 90px;
}

.sls {
  position: absolute;
  width: 172px;
  height: 20px;
  left: 30px;
  top: 160px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #00aedc;
}

.page-footer-3 {
  position: absolute;
  margin-top: 1090px;
  width: 1265px;
  height: 487px;
  left: 0;
  right: 0;
  background: #474f5a;
  display: flex;
}

/* contact */
.contactus {
  color: #f77881;
  margin-left: 200px;
}
.stuf {
  margin-left: 500px;
}

.name {
  position: absolute;
  top: 291px;
  left: 462px;
  width: 441px;
  height: 56px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid rgba(218, 219, 221, 0.64);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}
.email {
  position: absolute;
  width: 441px;
  height: 56px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid rgba(218, 219, 221, 0.64);
  left: 462px;
  top: 359px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}

.phone {
  position: absolute;
  width: 441px;
  height: 56px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid rgba(218, 219, 221, 0.64);
  left: 462px;
  top: 427px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}
.type {
  position: absolute;
  width: 441px;
  height: 225px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid rgba(218, 219, 221, 0.64);
  left: 462px;
  top: 495px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}
.would {
  position: absolute;
  width: 330px;
  height: 48px;
  top: 744px;
  left: 504px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}
.send {
  background-color: #f77881;
  position: absolute;
  width: 186px;
  height: 56px;
  top: 816px;
  left: 462px;
  padding: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.page-footer-4 {
  position: absolute;
  margin-top: 800px;
  width: 1265px;
  height: 487px;
  left: 0;
  right: 0;
  background: #474f5a;
  display: flex;
}
